body {

}
.navbar1 {
    
  position: relative;
  margin: 0 auto;
  padding: 1.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navbar1 .logo a {
  color: #41435a;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
}

.navbar1 .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.btn{
  padding: 10px 60px;
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 200;
  border-radius: 30px;
}
.popup{
  width: 400px;
  background: coral;
  border-color: aqua;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}  
.popup img{
  width: 150px;
  margin-top: -50px;
  border-radius: 50%;
}
.popup .p{
  text-align: justify;
  padding: 30px 30px 30px 30px;
}
.popup1{
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;

  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
p {
  text-align: justify;
  padding-top: 30px;

}
.popup2{
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup{
  visibility: visible;
  top: 350%;
  right: 50%;
  transform: translate(-50%,-50%) scale(1);
}

.popup button{
  width: 50%;
  color: white;
  padding: 10px 0;
  margin-top: 50px;
  background: #24e8fa;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.popup1 button{
  width: 50%;
  color: white;
  padding: 10px 0;
  margin-top: 50px;
  background: #24e8fa;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.popup2 button{
  width: 50%;
  color: white;
  padding: 10px 0;
  margin-top: 50px;
  background: #24e8fa;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
/*---------------------------------------------------------------*/

.watch {
  float: right;
  margin-left: auto;
  margin-right: auto;
  height: 235px;
  width: 252px;
  padding: 20px;
  background-color: white;
  text-align: center;
  margin-top: 10px;
  border-radius: 15px ;
  background-size: 300px 300px;
  background-image: url(img/watch.gif);
  background-repeat: no-repeat;
  padding-top: 40px;
  
}
.watch i {
  padding: 15px;
  margin-top: 50px;
  color: rgb(0, 0, 0);
}
.icons:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.watch h6 {
  color: aqua;
  font-size: 10px;
}


